{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["power-assert"]
    }
  }
}
